<div class="body">
<div class="container">
  <table class="table table-striped">
    <tbody>
      <tr>Welcome</tr>
      <span class="glyphicon glyphicon-book"></span>
      <strong>Bookers</strong>
      <tr>!</tr>

    </tbody>

  </table>
</div>
</div>